<div class="w3-container w3-margin">
<h1>Scan Files: {{folderName}}</h1>
<ul class="w3-ul">
<h4><a href='{{folderUrl}}'>Back</a></h4>
{{#each files}}
  <li class="row"><a href='{{url}}'>{{displayName}}</a></li>
{{/each}}
</ul>
</div>
